RewriteEngine On

RewriteRule ^home/([a-z0-9]+)/([a-z0-9]+) validate.php?data=$1&&data2=$2
RewriteRule ^home/([a-z0-9]+) validate.php?data=$1
RewriteRule ^home validate.php?data=home
RewriteRule ^logout logout.php
RewriteRule ^api/class/updateall class/api.authFunction.php


RewriteRule ^registerclass/([a-z0-9]+)/([a-z0-9]+) class/register.class.php?id=$1&&data=$2